.column_left,
.column_right {
	margin: 0 4rem;

	border-right: 0.25rem rgb(156, 156, 156);
	border-style: solid;
}

#emails p {
	line-height: 2rem;

	font-size: 1.25rem;
}

#emails a:hover {
	text-decoration: solid;
}
