#emails p {
	line-height: 2rem;

	font-size: 1.25rem;
}

#emails a {
	background: linear-gradient(currentColor 0 0) bottom left/
		var(--underline-width, 0%) 0.1em no-repeat;
	text-decoration: none;
	padding-bottom: 0.25em;
	transition: background-size 0.5s;
}
#emails a:hover {
	--underline-width: 100%;
}
