@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	h1 {
		@apply text-5xl;
		@apply font-titles;
	}
	h2 {
		@apply text-xl;
		@apply font-lesser-titles;
	}
	#board_port h1 {
		@apply text-4xl;
		@apply font-titles;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

header {
	position: sticky;
	z-index: 30;
	top: 0;
}

/* ------ NAV BAR ------- */
#nav h3 {
	font-family: var(--font-inter), sans-serif;
}
.nav__menu-bar {
	display: flex;

	flex-direction: column;
	row-gap: 6px;
	cursor: pointer;
}
.nav__menu-bar div {
	width: 40px;
	height: 4px;
	background-color: white;
	border-radius: 2px;
}
.nav__menu-list {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 114px;
	width: 288px;
	row-gap: 24px;
	right: -288px;
	padding: 24px 16px;
	transition: all 0.2s;
	min-height: calc(100vh);
	background-color: rgba(0, 0, 0, 0.9);
}
.nav__menu-list.active {
	right: 0;
}
.nav__link {
	font-size: 18px;
	position: relative;
	transition: all 0.2s;
}

.nav__link:hover {
	font-weight: bold;
}

.center {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.nav__menu-bar {
		display: none;
	}
	.nav__menu-list {
		position: unset;
		flex-direction: row;
		min-height: fit-content;
		width: fit-content;
		column-gap: 24px;
		align-items: center;
		background-color: transparent;
	}
	.nav__link::before {
		content: "";
		position: absolute;
		width: 0%;
		height: 6px;
		bottom: -16px;
		left: 0;
		background-color: black;
		transition: all 0.2s;
	}

	.nav__link:hover:before {
		width: 100%;
	}
}

#navbar_item {
	background: linear-gradient(currentColor 0 0) bottom left/
		var(--underline-width, 0%) 0.1em no-repeat;
	text-decoration: none;
	transition: background-size 0.5s;
}
#navbar_item:hover {
	--underline-width: 100%;
}

#navbar_text {
	font-family: var(--font-inter), sans-serif;
}

#footer_item {
	background: linear-gradient(currentColor 0 0) bottom left/
		var(--underline-width, 0%) 0.1em no-repeat;
	color: #f80;
	padding: 0 0.5em 0.2em;
	text-decoration: none;
	transition: background-size 0.5s;
}
#footer_item:hover {
	--underline-width: 100%;
}

#footer_email {
	background: linear-gradient(currentColor 0 0) bottom left/
		var(--underline-width, 0%) 0.1em no-repeat;
	text-decoration: none;
	padding-bottom: 0.25em;
	transition: background-size 0.5s;
}
#footer_email:hover {
	--underline-width: 100%;
}
