@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@layer base {
	h1 {
		@apply text-5xl;
		@apply font-titles;
	}
	h2 {
		@apply text-xl;
		@apply font-lesser-titles;
	}
	#board_port h1 {
		@apply text-4xl;
		@apply font-titles;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
header {
	position: sticky;
	z-index: 30;
	top: 0;
}

/* ------ NAV BAR ------- */
#nav h3 {
	font-family: "Lato", sans-serif;
}
.nav__menu-bar {
	display: flex;

	flex-direction: column;
	row-gap: 6px;
	cursor: pointer;
}
.nav__menu-bar div {
	width: 40px;
	height: 4px;
	background-color: white;
	border-radius: 2px;
}
.nav__menu-list {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 40px;
	width: 288px;
	row-gap: 24px;
	right: -288px;
	padding: 24px 16px;
	transition: all 0.2s;
	min-height: calc(100vh);
	background-color: rgba(0, 0, 0, 0.9);
}
.nav__menu-list.active {
	right: 0;
}
.nav__link {
	font-size: 18px;
	position: relative;
	transition: all 0.2s;
}

.nav__link:hover {
	font-weight: bold;
}

.center {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.nav__menu-bar {
		display: none;
	}
	.nav__menu-list {
		position: unset;
		flex-direction: row;
		min-height: fit-content;
		width: fit-content;
		column-gap: 24px;
		align-items: center;
		background-color: transparent;
	}
	.nav__link::before {
		content: "";
		position: absolute;
		width: 0%;
		height: 6px;
		bottom: -16px;
		left: 0;
		background-color: black;
		transition: all 0.2s;
	}

	.nav__link:hover:before {
		width: 100%;
	}
}
